<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--<system.webServer>

    <httpHandlers>
     
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler*" type="WebReporting.Code.CrystalImageHandler, WebReporting, Version=1.0.0.0, Culture=neutral" preCondition="integratedMode"/>

    </httpHandlers>

  </system.webServer>-->
  <appSettings>
    <!--server PC IPP-Yanta-->
    <!--<add key="sqlconnecttion" value="server=yanta-ipp\posiedon;database=ipp_property;user id=adminproperty;password=R@h@s1@;"/>-->
    <!--Server Laptop IPP-->
    <add key="SQLConnecttion" value="Server=IPP-HP\SQLEXPRESS;Database=IPP_Property;User Id=AdminProperty;Password=R@h@s1@;"/>
    <!--Server Laptop Yanta-->
    <!--<add key="SQLConnecttion" value="Server=NB-Surbakti\Phoenix;Database=IPP_Property;User Id=AdminProperty;Password=R@h@s1@;"/>-->
    <!--Connection string Server Puri Casablanca-->
    <!--<add key="SQLConnecttion" value="Server=BIZCENTER\DIONISOS;Database=IPP_Property;User Id=AdminProperty;Password=R@h@s1@;"/>-->
    <add key="formatLease" value="AI/PC/MGT/"/>
    <add key="formatLeasedaily" value="AI/PC/MGT/DAILY/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
